//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  border-radius: toRem(10);
  border: 1px solid#303030;
  width: 100%;
  display: block;
  padding: 0px toRem(10);
  height: toRem(37);
  background-color: transparent;

  color: #303030;
  font-family: Inter;
  font-size: toRem(12);
  font-weight: 400;
  line-height: 140%; /* 16.8px */

  -ms-touch-action: none;
  touch-action: none;

  &:focus {
    outline: none;
    border-color: #000;
  }

  &._form-error {
    border-color: red;
  }

  &._form-focus {
  }
  &._form-error {
  }
}
.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}
