// Заголовки, загальні БЕМ блоки та інше...

//====================================================================================================

.text {
  border-top: toRem(1) solid #303030;
  border-bottom: toRem(1) solid #303030;
  @include adaptiveValue("padding-top", 20, 15);
  @include adaptiveValue("padding-bottom", 20, 15);
  &__container {
  }

  &__slider {
  }
}
.slider-text {
  &__wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }

  &__slide {
    background: linear-gradient(90deg, #8f00ff 4.48%, #c00090 55.52%, #f00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include adaptiveValue("font-size", 40, 24);
    font-weight: 300;
    line-height: 120%; /* 48/40 */
    user-select: none;
  }
}

//====================================================================================================

.title {
  @include adaptiveValue("font-size", 25, 20);
  font-weight: 600;
  line-height: 120%; /* 30/25 */

  &_white {
    color: #fff;
  }
  &_main {
  }
  &_gradient {
    background: linear-gradient(128deg, #e5270e 0%, #3a3938 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

//========================================================================================================================================================

.top-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__title {
  }

  &__link {
    position: relative;
    @include adaptiveValue("font-size", 16, 14);
    line-height: 118.8%; /* 19/16 */

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: toRem(1);
      bottom: 0;
      left: 0;
      display: block;
      background-color: #303030;
      transition: all 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          width: 80%;
          left: 10%;
        }
      }
    }
  }

  &__navigation {
  }
}

//========================================================================================================================================================

.navigation {
  display: flex;
  align-items: center;
  column-gap: toRem(8);
  &__arrow {
    color: #303030;
    @include adaptiveValue("font-size", 22, 18);
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }
    &.swiper-button-disabled {
      opacity: 0.6;
    }

    &::before {
      @extend %ic;
      display: block;
    }

    &.button-prev {
      &::before {
        content: "\e907";
      }
    }
    &.button-next {
      &::before {
        content: "\e904";
      }
    }
  }
}

//========================================================================================================================================================

.hero {
  &__image-ibg {
    padding-bottom: 50%;

    @media (max-width: $mobile) {
      padding-bottom: 80%;
    }
  }
}
